
img.create-photo {
    position: absolute;
	top: 0;
	left: 0;

	border-radius: 10px;
	object-fit: cover;
	width: 120px;
    height: 120px;
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--field_border);
    border-radius: 15px;
}

.create-photo-panel {
	position: relative;
	display: inline-block;
	margin-right: 120px;
	margin-bottom: 120px;
}

.create-photo-delete {
	position: absolute;
	top: 4px;
	left: 96px;
	color: rgb(240, 240, 240);
	background: rgba(0, 0, 0, 0.9);
	border-radius: 15px;
}
