.block {
	line-height: 1.2;
	font-size: 14px;
}

.block_in {
	margin-bottom: 4px;

	background: var(--background_content);
}

.write {
	position: fixed;
	margin-bottom: 52px;

	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-right: 2px;
	padding-left: 4px;
	margin-right: 2px;
}

.comment-button {
	position: fixed;
	margin-bottom: 72px;
	margin-right: 20px;
	height: auto;
	bottom: 0;
	right: 0;
	z-index: 101;
}

.comment-button1 {
	padding-left: '100px';
	/* position: fixed;
	margin-bottom: 72px;
	margin-right: 20px;
	height: auto;
	bottom: 0;
	right: 0;
	z-index: 101; */
}
