.block {
	line-height: 1.2;
	font-size: 14px;
}

.block_in {
	margin-bottom: 4px;

	background: var(--background_content);
}

.subscribe-withLoadingIf {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 101;
}

.subscribe-button {
	position: fixed;
	margin-top: 72px;
	margin-left: 8px;
	height: auto;
	top: 0;
	left: 0;
	z-index: 101;
}

.subscribe-num {
	position: fixed;
	margin-top: 72px;
	margin-left: 165px;
	height: auto;
	top: 0;
	left: 0;
	z-index: 101;
}

.subscribe-question {
	position: fixed;
	margin-top: 76px;
	margin-left: 197px;
	height: auto;
	top: 0;
	left: 0;
	z-index: 101;
}

.comments-element-inner {
	padding: 4px;
}

.comments-element-outter {
	padding-bottom: 100px;
	background-color: var(--background_content);
}

.write-comment-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--background_content);
}

.write-comment-input-before {
	position: absolute;
	top: -28px;
	width: 100%;
	background-color: var(--background_content);
}

.write-comment-input-before-inner {
	display: flex;
	margin-right: 28px;
	padding: 0px;
}

.write-comment-input {
	padding: 8px;
	width: 90%;
}

.write-comment-button {
	padding: 8px;
	width: 2%;
}

.write-comment-button-color {
	color: var(--accent);
}

.comment-button1 {
	padding-left: '100px';
	/* position: fixed;
	margin-bottom: 72px;
	margin-right: 20px;
	height: auto;
	bottom: 0;
	right: 0;
	z-index: 101; */
}
