.container {
	position: relative;
}

.image-wrapper {
	position: relative;
	display: inline-block;
	background-size: cover;
}

.tweetty {
	overflow: auto;
	top: 0;
	left: 0;
}
.image-vest {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00f;
	width: 220px;
	height: 300px;
	opacity: 0.4;
	color: #fff;
}

.tile {
	border-radius: 20px;
	padding: 4px;

	background: white;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
}

.tile-success {
	border-width: 1px;
	border-color: rgba(0, 100, 0, 0.9);
}

.tile-failed {
	border-width: 1px;
	border-color: rgba(100, 0, 0, 0.9);
}

.tile-chosen {
	border-width: 1px;
	border-color: rgba(0, 0, 100, 0.9);
}

.main {
	display: flex;
}

img.tiled {
	position: absolute;
	top: 0;
	left: 0;

	border-radius: 10px;
	object-fit: cover;
	width: 120px;
	height: 120px;
}
.settings {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	float: right;
	margin-left: auto;
}

.city {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 120px;
	background: rgba(0, 0, 0, 0.5);
}

.light-name {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100px;
	color: rgb(240, 240, 240);
	font-size: 12px;
	background: rgba(0, 0, 0, 0.9);
}

img.light-tiled {
	position: absolute;
	top: 0;
	left: 0;

	border-radius: 10px;
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.light-main-left {
	position: relative;
	display: inline-block;
	margin-right: 100px;
	margin-bottom: 100px;
}

.success {
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	background: rgba(0, 100, 0, 0.9);
}

.failed {
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	background: rgba(100, 0, 0, 0.9);
}

.hidden {
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	background: rgba(215, 125, 49, 0.9);
}

.hidden2 {
	border-radius: 5px;
	position: absolute;
	top: 35px;
	left: 0px;
	width: 120px;
	background: rgba(215, 125, 49, 0.9);
}

.deal {
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	background: rgba(0, 0, 100, 0.9);
}

.main-left {
	position: relative;
	display: inline-block;
	margin-right: 120px;
	margin-bottom: 120px;
}

.button {
	float: right;
	padding: 5px;
}

.outter {
	padding: 5px;
	padding-left: 2%;
	padding-right: 2%;
	vertical-align: bottom;
}

.on-img-text {
	display: flex;
	color: white;
	font-size: 12px;
	padding: 2px;
	align-items: center;
}
