

table {
	padding-top: 12px;
	padding-bottom: 12px;
	border-right: 15px;
	line-height: 2;
	border-spacing: 5px 2px;
}
td {
	text-align: left;
	padding-left: 20px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.first {
	color: var(--text_secondary);
}

.status-text {
	padding: 10px;
	color: rgb(240, 240, 240);
	text-align: center;
}

.swipe {
	display: flex;
}

/* details */
.details-main-image {
	max-width: 400px;
	object-fit: cover;
	max-height: 200px;
	margin: auto;
}

.details-small-img {
	width: 80;
	height: 50px;
	object-fit: cover;
	border-radius: '10px';
}

.details-ad-header {
	font-size: 24px;
	color: var(--text_primary);

	padding-top: 2px;
	line-height: 22px;
	margin: 4px;
	text-align: center;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.details-ad-description {
	font-size: 14px;
	color: var(--text_subhead);
	line-height: 19px;
	margin: 4px;
	margin-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 8px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
