.CellLeft__head {
	font-size: 20px;
	color: rgb(0, 0, 0);

	line-height: 22px;
	margin: 4px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.CellLeft__block {
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 19px;
	margin: 4px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

table {
	padding-top: 12px;
	padding-bottom: 12px;
	border-right: 15px;
	line-height: 2;
	border-spacing: 5px 2px;
}
td {
	text-align: left;
	padding-left: 20px;
}

.first {
	color: #999999;
}

.small_img {
	width: 80;
	height: 80px;
	object-fit: cover;
	border-radius: '10px';
}

.big_img {
	width: 80;
	height: 80px;
	object-fit: cover;
	border-radius: '10px';
}

.imgblock3 {
	position: relative;
	display: inline-block;
	width: '10px';
}
.imgblock3 img {
	width: '10px';
	object-fit: 'cover';
}
.imgblock3 span {
	left: 10px;
	position: absolute;
	top: 10px;
	width: 100%;
}
.imgblock3 span b {
	background: #222;
	color: #fff;
	font: 16px/34px arial;
	padding: 6px 10px;
	white-space: nowrap;
	border-radius: 3px;
}

.status-text {
	padding: 10px;
	color: rgb(240, 240, 240);
	text-align: center;
}
