::placeholder {
	/* Internet Explorer 10-11 */
	color: red;
}

.categories-outter {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	color: grey;
	flex: 1;
	margin: 6px;
	border-radius: 15px;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-size: contain;
	font-weight: 600;
	height: 130px;
	overflow-y: hidden;
}

.group-inner {
	padding-top: 5px;
	display: block;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-size: contain;
	color: black;
	font-weight: 600;
}

.tag {
	margin: 3px;
	font-size: 13px;
	border: 1px dashed;
	border-radius: 4px;
	padding: 0 8px;
	line-height: 30px;
}

.categories-tag-row {
	position: relative;
	margin: 5px;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid var(--text_secondary);
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 30px;
	color: var(--text_secondary);
	background: var(--background_content);
}
.edit-tag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
