.one-block {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow-x: hidden;
	width: 50%;
}

.flex-blocks {
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
}

.ads_feed {
	overflow: hidden;
	text-overflow: ellipsis;
}
