.profile-block {
	line-height: 1.4;
	font-size: 14px;
}

.ReactCollapse--collapse {
	transition: height 250ms;
}

.profile-main-left {
	position: relative;
	display: inline-block;
	margin-right: 120px;
	margin-bottom: 120px;
}

.profile-main {
	display: flex;
}

img.profile-tiled {
	position: absolute;
	top: 0;
	left: 0;

	border-radius: 10px;
	object-fit: cover;
	width: 120px;
	height: 120px;
}

.profile-carma-label {
	flex: 1;
}

.infographics-main {
	display: flex;
	text-align: center;
}

.infographics-column {
	display: block;
	flex: 1;
}

.infographics-column-header {
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
}